body {
    background-image: url(../images/main-bg.jpg);
}

.hidden {
    display: none;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 30px;
    border-radius: 8px;
}

.row {
    margin-top: 20px;
}

.title {
    color: white;
}

.video-player {
    margin: auto;
    display: block;
}

.video-format {
    width: 720px;
    height: 576px
}

