body {
    background-image: url(../images/main-bg.jpg);
}

.hidden {
    display: none;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 30px;
    border-radius: 8px;
}

.btn {
    margin-bottom: 15px;
}

.title {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

.counter {
    color: white;
    font-size: large;
}

.video-player {
    margin: auto;
    display: block;
}

.video-format {
    width: 1050px;
    height: 576px
}

img {
    margin-top: 20px;
}

.error {
    text-align: center;
    color: red;
    font-size: large;
}