
@main {

    <div class="container" ng-controller="ConfiguratorCtrl">

        <div class="row">
            <div class="text-center">
                <img src='@routes.Assets.at("images/logo40ansWeb.png")' height="80px">
                <h1 class="title" >40 ans et pas une ride</h1>
            </div>
        </div>

        <div class="row">

            <div class="text-center">
                <button class="btn btn-primary btn-lg " ng-click="generate()">Je découvre mon épisode...</button>
            </div>

        </div>

        <div class="row">

            <div class="text-center" ng-show="!activated">
                <img src='@routes.Assets.at("images/visuel40ans-scale.png")' class="video-format"/>
            </div>

            <div id="content" ng-show="activated">
                <a class="video-player video-format" id="player"></a>
            </div>

        </div>


        @*<div class="row">*@
            @*<img src='@routes.Assets.at("images/SloganPageDesVideos.png")'>*@
        @*</div>*@


    </div>


}
